@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.hero-bg {
  background-color: #232323; /* Dark background */
  background-image: radial-gradient(
      at 20% 24%,
      hsla(224, 62%, 65%, 0.7) 0,
      transparent 59%
    ),
    radial-gradient(at 87% 41%, hsla(239, 86%, 68%, 0.7) 0, transparent 56%),
    radial-gradient(at 93% 25%, hsla(162, 92%, 69%, 0.7) 0, transparent 52%),
    radial-gradient(at 30% 31%, hsla(241, 72%, 61%, 0.7) 0, transparent 49%),
    radial-gradient(at 40% 33%, hsla(43, 82%, 71%, 0.7) 0, transparent 59%),
    radial-gradient(at 84% 53%, hsla(260, 88%, 73%, 0.7) 0, transparent 47%),
    radial-gradient(at 34% 37%, hsla(96, 79%, 67%, 0.7) 0, transparent 40%);
  background-blend-mode: overlay; /* Blend the gradients with the background color */
}

.defi-card {
  background-image: #ffd599;
  background-image: radial-gradient(
      at 20% 24%,
      hsla(224, 62%, 65%, 1) 0,
      transparent 59%
    ),
    radial-gradient(at 87% 41%, hsla(239, 86%, 68%, 1) 0, transparent 56%),
    radial-gradient(at 93% 25%, hsla(162, 92%, 69%, 1) 0, transparent 52%),
    radial-gradient(at 30% 31%, hsla(241, 72%, 61%, 1) 0, transparent 49%),
    radial-gradient(at 40% 33%, hsla(43, 82%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 84% 53%, hsla(260, 88%, 73%, 1) 0, transparent 47%),
    radial-gradient(at 34% 37%, hsla(96, 79%, 67%, 1) 0, transparent 40%);
}
